@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Azeret Mono;
}
section{
    width: 1140px;
    margin: 0 auto;
    margin-bottom: 100px;
}
body{
    width:1440px;
    border: 1px solid black;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin: 24px 0px;
}
a{
    color: black;
}
.text-box{
    width: 852px;
    height: 113px;
    text-align: center;
    margin: 0 auto;
}
.text-box h1{
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}
/* ================================================================== */
header{
    background: url('assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.coverpage{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 44px;
}
.coverpage-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
}
.coverpage h1{
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}
.coverpage p{
    margin: 0;
}
.coverpage button{
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.coverpage button:hover{
    background: transparent;
    color: black;
}
/* ============================================================================= */
.web-dev{
    padding: 80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
}
.text-box{
    width: 852px;
    height: 113px;
    text-align: center;
    margin: 0 auto;
}
.text-box h1{
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}
.web-dev .web-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 48px;
    margin-top: 32px;
} 
.web-text-box{
    width: 50%;
}
.web-box img{
    width: 250px;
}
.web-dev .web-box button{
    padding: 10px 20px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    background: transparent;
}
.web-dev .web-box button:hover{
    background-color: rgb(13, 19, 33);
    color: white;
}
/* ============================================================== */
.inspiration-video{
    padding: 32px;
}
.inspiration-video iframe{
    border-radius: 16px;
}
/* ===================================================================== */
.target-skills{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}
.target-skills div{
    width: 364px;
    height: 299px;
    padding: 40px;
    border-radius: 16px;
}
.target-skills .skill1{   
    background: rgba(255, 76, 30, 0.05);
} 
.target-skills .skill2{
    background: rgba(0, 76, 232, 0.05);    
} 
.target-skills .skill3{
    background: rgba(255, 223, 0, 0.05);
}
.target-skills img{
    margin-bottom: 24px;
}
/* =========================================================== */
.next-skill{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 40px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-top: 24px;
}
.next-skill-image{
    width: 130px;
}
.next-skill-image img{
    max-width: 100%;
}